html, body {
  height:100%;
}
body {
  background: #1c1c1c;
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #eee;
  line-height: 1.1;
  border:0;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}
h1 {
  display: none;
}


/* GENERAL */
.hidden {
  display: none;
}
.loader {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  font-size: 11pt;
}
.start .loader {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.actions {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  padding: 10px 7px 7px 7px;
  font-size: 10pt;
  text-align: right;
}

.loader-thing {
  display: inline-block;
  overflow: hidden;
  width: 27px;
  top: -2px;
  position: relative;
}

.step {
  display: block;
  float: left;
  width: 7px;
  height: 7px;
  margin: 0 2px 0 0;
  border-radius: 1px;
  background: rgba(255, 255, 255, .5);
}

.step:nth-child(1) {
  -webkit-animation: loaderStep 1.5s infinite 0.5s;
}
.step:nth-child(2) {
  -webkit-animation: loaderStep 1.5s infinite 1s;
}
.step:nth-child(3) {
  -webkit-animation: loaderStep 1.5s infinite 1.5s;
}

@-webkit-keyframes loaderStep {
  0% {
    background: rgba(255, 255, 255, .5);
  }
  16% {
    background: rgba(255, 255, 255, 1);
  }
  33% {
    background: rgba(255, 255, 255, .5);
  }
  50% {
    background: rgba(255, 255, 255, .5);
  }
  88% {
    background: rgba(255, 255, 255, .5);
  }
  100% {
    background: rgba(255, 255, 255, .5);
  }
}




/* LIST */
.list-loader {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  height: 20px;
  margin: -35px 0 0 0;
  background-position: center middle;

  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 1;
}
#snippet-list > ul {
  margin: 0;
  padding: 0;
}
#snippet-list > ul > li {
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  font-size: 12px;
  color: #ccc;
  border-top: 4px solid #111;
  background: #191919;
}
#snippet-list > ul > li:first-child {
  border-top: 0;
}
#snippet-list > ul > li.viewed,
#snippet-list > ul > li.viewed .snippet  h2 {
  color: #555;
}


/* SNIPPET */
.snippet {
  padding: 12px 0;
}
.snippet h2 {
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 30px;
  line-height: 1.05;
  margin: 0 0 5px 0;
  font-weight: 100;
  display: block;
}
.snippet p {
  margin: 0;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 300;
  color: #666;
}


/* ARTICLE */
article {
  color: #eee;
  overflow: hidden;
  padding: 12px 0;
}
article,
article li,
article p {
  font-size: 20px;
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-weight: 300;
  line-height: 1.4;
}
article h2 {
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 38px;
  line-height: 1.05;
  font-weight: 100;
  margin: 0 0 12px 0;
  color: #ccc;
}
article img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  margin: 0 0 20px 0;
  display: block;
}
article div img:first-child {
  margin-top: 20px;
}
article a {
  color: #aaa;
}
article p,
article .byline {
  display: block;
  margin: 0 0 14px 0;
}
article ol,
article ul {
  margin: 0 0 14px 0;
  padding: 0 0 0 1.3em;
}
article img + span {
  display: block;
  margin: -17px 0 20px 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 19px;
}
article p + h3 {
  margin-top: 15px;
  border-top: 1px solid white;
  padding-top: 15px;
}
.cross-head {
  font-weight: bold;
}
.dateline {
  color: #c20000;
  margin-right: .3em;
}
blockquote,
#hook {
    display: none;
}
.preamble p,
.preamble {
  font-weight: bold;
  color: #aaa;
  font-style: italic;
}
.preamble {
  margin-bottom: 15px;
}
.preamble em {
  font-style: normal;
}


/* LARGE ARTICLE (iPad) */
.large-article {
  display: none;
  max-width: 900px;
  padding: 45px 50px 440px 50px;
  font-size: 23px;
  line-height: 1.5;
}
.large-article h2 {
  font-size: 45px;
  margin: 0 0 20px 0;
  font-weight: 100;
  color: #eee;
  line-height: 1.15;
}
.large-article .actions a {
  padding: 5px 6px 5px 6px;
  display: inline-block;
  -webkit-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
