html, body {
  height:100%;
}
body {
  background: #1c1c1c;
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #eee;
  line-height: 1.1;
  border:0;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}
h1 {
  display: none;
}


/* GENERAL */
.hidden {
  display: none;
}
.loader {
  /*background: url(../img/loader.gif) 12px 7px no-repeat;*/
  padding: 5px 7px 7px 33px;
  display: block;
  font-size: 13pt;
}
.start .loader {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.actions {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  padding: 10px 7px 7px 7px;
  font-size: 10pt;
  text-align: right;
}


/* LIST */
.list-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  background-position: center middle;
}
#snippet-list ul {
  margin: 0;
  padding: 0;
}
#snippet-list li {
  overflow: hidden;
  padding: 10px;
  position: relative;
  font-size: 12px;
  color: #aaa;
  border-top: 1px solid #292929;
}
#snippet-list li:nth-child(odd) {
  background: #191919;
}
#snippet-list li:first-child {
  border-top: 0;
}
#snippet-list li.viewed,
#snippet-list li.viewed .snippet  h2 {
  color: #555;
}


/* SNIPPET */
.snippet h2 {
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 24px;
  margin: 0 0 3px 0;
  line-height: 1.1;
  font-weight: bold;
  display: block;
}
.snippet p {
  margin: 0;
  font-size: 14px;
  line-height: 1.25;
}


/* ARTICLE */
article {
  font-size: 20px;
  color: #eee;
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-weight: 300;
  line-height: 1.4;
}
article h2 {
  font-size: 32px;
  margin: 0 0 12px 0;
  font-weight: bold;
  line-height: 1.05;
  color: #ccc;
}
article img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  margin: 0 0 27px 0;
}
article a {
  color: #aaa;
}
article p,
article .byline {
  margin: 0 0 16px 0;
}
article p+h3 {
  margin-top: 15px;
  border-top: 1px solid white;
  padding-top: 15px;
}
.cross-head {
  font-weight: bold;
}
.dateline {
  color: #c20000;
  margin-right: .3em;
}
blockquote,
#hook {
    display: none;
}
.preamble p,
.preamble {
  font-weight: bold;
  color: #aaa;
  font-style: italic;
}
.preamble {
  margin-bottom: 15px;
}
.preamble em {
  font-style: normal;
}


/* LARGE ARTICLE (iPad) */
.large-article {
  display: none;
  max-width: 900px;
  padding: 45px 50px 440px 50px;
  font-size: 23px;
  line-height: 1.5;
}
.large-article h2 {
  font-size: 45px;
  margin: 0 0 25px 0;
  font-weight: 700;
  color: #eee;
  line-height: 1.25;
}
.large-article .actions a {
  padding: 5px 6px 5px 6px;
  display: inline-block;
  -webkit-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}


/* Large screen (iPad) */
@media (min-width: 768px) {
  body {
    padding: 0px;
  }
  #home {
    width: 100%;
    height: 100%;
    position:relative;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
  }
  #content {
    position: relative;
    height: 100%;
    border-left: 1px solid #333;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
  }
  #nav {
    width: 300px;
    border-right: 1px solid #111;
    position: relative;
    height: 100%;
  }
  #list-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #article-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .large-article {
    display: block;
  }
}