html, body {
  height:100%;
}
body {
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #333;
  line-height: 1.1;
  border:0;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}
h1 {
  display: none;
}


/* GENERAL */
.hidden {
  display: none !important;
}


/* LIST */
#article-list {
  margin: 0;
  padding: 0;
}
#article-list > li {
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  font-size: 12px;
  border-top: 1px solid #ccc;
}
#article-list > li:first-child {
  border-top: 0;
}
#article-list > li.viewed,
#article-list > li.viewed .snippet  h2 {
  color: #555;
}


/* SNIPPET */
.snippet {
  padding: 12px 0;
  display: block;
  overflow: hidden;
}
.snippet .title {
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 24px;
  line-height: 1.05;
  margin: 0;
  font-weight: 100;
  display: block;
}
.snippet img {
  height: 55px;
  float: right;
  margin: 0 0 0 10px;
}

.snippet.read .title {
  color: #aaa;
}
.snippet.read img {
  display: none;
}

/* ARTICLE */
.article {
  color: #333;
  overflow: hidden;
  padding: 12px 0;
}
.article,
.article li,
.article p {
  font-size: 20px;
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-weight: 300;
  line-height: 1.4;
}
.article h2 {
  font-family: "kepler-std-1", "kepler-std-2", georgia;
  font-size: 32px;
  line-height: 1.05;
  font-weight: 100;
  margin: 0 0 12px 0;
  color: #333;
}
.article img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  margin: 0 0 20px 0;
  display: block;
}
.article div img:first-child {
  margin-top: 20px;
}
.article a {
  color: #333;
}
.article p,
.article .byline {
  display: block;
  margin: 0 0 14px 0;
}
.article ol,
.article ul {
  margin: 0 0 14px 0;
  padding: 0 0 0 1.3em;
}
.article img + span,
p.caption {
  display: block;
  margin: -17px 0 20px 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 19px;
}
.article p + h3 {
  margin-top: 15px;
  border-top: 1px solid white;
  padding-top: 15px;
}
.cross-head {
  font-weight: bold;
}
.dateline {
  color: #c20000;
  margin-right: .3em;
}
blockquote,
#hook {
    display: none;
}
.preamble p,
.preamble {
  font-weight: bold;
  color: #aaa;
  font-style: italic;
}
.preamble {
  margin-bottom: 15px;
}
.preamble em {
  font-style: normal;
}
